{% extends 'base.html.twig' %}
{% block title %}{{ site_name }} - {% trans %}Attendre...{% endtrans %}{% endblock %}
{% block body %}

    <h1 class="text-glow">
        {{ site_name }}
        {% trans %} Hé ! Ce texte est cool non ?{% endtrans %}
        <span class="text-gradient">{% trans %}probablement rien.{% endtrans %}</span>

    </h1>
    <img  type="image/png" class="logo"  alt="logo_wolf"  src="{{ asset('images/wolf.png') }}">
    
  <!-- RELAX DUDE ! wait for the best of best :)  -->
    <p class="shining">{{ site_name }}</p>
{% endblock %}