{% extends 'base.html.twig' %}
{% block body %}
    <span class="text-gradient"> {% block title %}{{ site_name }} - {% trans %}Wait...{% endtrans %}{% endblock %}</span>

    <h1 class="text-glow">
        Hey ! This text is cool no ?
        <span class="text-gradient">probably nothing.</span>
        <img  type="image/png" class="logo"  alt=""  src="{{ asset('images/wolf.png') }}">
    </h1>

    <!-- RELAX DUDE ! wait for the best of best :)



                                                                                                                                        #%(((
                                                                                                                                     (((((((((
                                                                                          .,,,,,,,,//////////*,                  (%%%%%%%%%%#((
                                                                                  ,*,,,,,,,,,,*///////////////*,,/,///*.     # %%%((/....../(#((
                                                                            .,,*///////////////////////////////////*///////#%#%,......*..,,,%#((
                                                                        *////////////////////////////////////////////*/#%##*......*.....,,,%*%(
                                                                    .//////////////////////////////%%%&&&&&&%&%%(%%%%%%%........**.......,*#%(
                                                                 .///////////////((#///////(&&&&&&&&&&&&&&&&&@%%#(((/........****.......(((%
                                                               *//((////////#(########%%@&&&&&&&&&&&&&&%%...%%#%%%#%/*......*.,*.......(((
                                                             ##(/#(/////#########((&&&&&&&&&&&&&&&&&&&%((.%#../#(%%(%#**..,*,.......*.(((//(,(# #((
                                                           ######//////########(&&&&&&&&&&&&&&&@@&@&&(((#%(#%%((%%#%(%((...*,......*,*(////##////#((
                                                         (#######////########&&&&&&&&&&&&&&&&&&&&&&&&#((((((%%%(#(%%%(,..**......././,(##.,,*,.(##(/
                                                       ,##########(#######%&&&&&&&&&&&&&&&&&&&&&&&&&&%%((((#%%%%(#%/*..,,/,..................///##/
                                                      (#######(##########&&&&&&&&&&&&&&&&&&&&&&&&&&%%#((((((%%%%#(*,........................**/#((/
                                                     (#######//#(((#****&&&&&&&&&&&&&&&&&&&&&&&&&&%%((((((((%%#%,/......................./,**#(#///(
                                                    /####(#***,#(/*,*&&&&&&&&@&&&%&%&&&&&&&&&&&&&%%#((((((#%%#%/........................(/#####////##
                                                   /######(*,**@&&&&&&&&&&&&%#(((%%%%&&@%&&&&@@&&%%((((((#((##(,......................(((/#####//////#
                                                  *##&@&&@&&&&&&&&&&&&&&&#%(%%((((%%%%&&&&%%%%%@@%(((((#%(((#((.,................./,/((///////////(//(#
                                                  #%##(((((((((((((((((((##(#((%%%%(%&&&&&%%%%&&&%%(%(%#%#(#((/(/............../(*(((/#(#////////(((///,
                                                 /##%%(%%#%%%#(((((((%#%(((##%(((%##%&&&&&&&&%%%%#%%%%#%#%((%/(/..........*.(,(/((((#///####/////////((#
                                                 /##(#%%%((((##%%%%%%%%%%%%%%((%((#%(%&%&&@&&%%(((#%%%%%%%%%%%((.,.......*(((*,*/((#/(##########(##(///#.
                                                 //#####(#%#%#((((((#%%%%%%%%%%%%%%%(%#@&@&&&%#((%%%%&%%%%%%%%%%%(((..../,(,,/,/(((/#############//////#/
                                                .//##########&#&&&&%%%&#&&%%%&&&&&&&#%%%%&&&&@&#%%#(((#(%%%%%%%%%%%%(((,*#(,/,%(#(///(###########//////#%
                                                 ///#########&&@@&&&@&&@&&&@&&&&&&&&&@#%%%%&&&&&%&%%#%%%%%%%%%%%%%%%%%%&%%%%(%%%%(//(/#########////////((
                                                 ///#######&&&%%%&%%%&&&%&&%&%&&%&&&%%&&&&%%%%&&@@@%%%%%%%%%%%%%%%%%%%%%&&&&&&&&&/(/////#####///////////*
                                                 ///#####@&&&&&&&@&&&&&&&%%%&&&&@&%&%&&&@&&&%&%%%%%%%%@&@&&&%%%%%%%%%%%%%%%&&&&&&%((/////(///((/////////
                                                 *////##&&%&&&%%%%%#&@&&&&&&&&&&&&&&&&@&&&&&&&&&&&%%%%%%%%%%&&&&%%%%%%%%%%%%&&&&&%#(/////////(////////(#
                                                  /(%&&&&%&%&&&&%@&@&&&%&%%&&%%&&%@%%&&%%&&&&&&&&&%&%%#%%((%%%%%%%&%%%%%%%%#%%&&%#%#/(/////////////////.
                                                  *@##&%%&&%/%%##&%&@&&&&&&&%%#&&%&%&&&&@&&@%&%&&&%%%%%%%%%%%%%%%%%%%%%%%#%%#%#%%(#((//////(//////////(
                                                  (%(*(///*/*%#*%%%%&#&&&&%@&&%&%&&&&&&&%&&&&&&&%%%%##(%%%%%%%%%%%%%%%%%#%##&%&##%((#////////////////#
                                                   .#%//////((#,/%%%&%%%&%&%%&&&&%&%%&&@&&&&&&&%%%#%%%%%%((%%%%%%%%%%%%#####%&&%#%#(#/////,////////*/
                                                  .  ///(#//*//,,%#//%/%%&%&((%%%%##%&%&%%&%%&&%(((#%%%(#(#%%%%%%%%%%%%######((#%(##(#/*,,,*/,/////#
                                                      *///(///////#(#/(##%%((((#%((%%@%%&%%%&&%%%%%(#(#####%%%%%%%%%%##%###((#(##(%###/*,*,,,/////(
                                                        /*,,,//////(*######(%//(##(%#(%%#((((%((((((((###(%%%%%%%%%%########((((((((##//,////////,
                                                         *//,///*//////#//////(/////#&///(##(#%##%((##(#(%%(%%%%%%%######(((((#/&(/%/#(////////#
                                                           ////////,*//////////(//////*,,*,/,(/*,((####(#((%%%%%%%%####(((((%(/(&///%#//////*#
                                                             ////////////////////////////,*,,,,*#,(*/((###(%%%%%###%####(##(/(#&**(%//%////#
                                                               ,///////////////////////*,,,,*,,,*@,,,(,%*##%%%%##%%##((((#(//(//#//(%#///(
                                                                  //////////////////////,/,,,,,,,,,,,,,,/*(%%%(######(%(#(/%(/#%/(###/#
                                                                     //////////////////////,,/,,,,,*,,***,,/&/#/&(####((##///#//%(#/
                                                                        .//////////////////,//,,,*,**,,**,,,,,//,/%//#/#%#((////*
                                                                             //////////////,///,,,,,,***,****,*,///,/%/(%/%(.*(%
                                                                                   /,,////*////,,,,,,,,,,*,,,,,,,,,*,/.%(
                                                                                            .,,,,,,,,,,,,,,,.              (



    -->
{% endblock %}